In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2022-07-07 07:36:03,59.7035,30.7861,69.87,51,100,2.59
1,1,Vaini,TO,2022-07-07 07:36:03,-21.2000,-175.2000,71.76,78,20,5.75
2,2,Punta Arenas,CL,2022-07-07 07:36:03,-53.1500,-70.9167,30.31,93,0,8.05
3,3,Nome,US,2022-07-07 07:34:27,64.5011,-165.4064,58.15,94,100,6.91
4,4,Solnechnyy,RU,2022-07-07 07:36:04,50.7214,136.6319,85.48,57,5,12.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Solnechnyy,RU,2022-07-07 07:36:04,50.7214,136.6319,85.48,57,5,12.97
5,5,Ndioum,SN,2022-07-07 07:36:04,16.5129,-14.6471,76.89,70,4,12.80
8,8,Leshukonskoye,RU,2022-07-07 07:36:06,64.8989,45.7622,76.51,34,54,8.05
10,10,Pochutla,MX,2022-07-07 07:36:07,15.7432,-96.4661,77.83,94,100,3.80
18,18,Matamoros,MX,2022-07-07 07:34:59,25.5333,-103.2500,77.52,43,10,5.14
19,19,San Patricio,US,2022-07-07 07:36:10,28.0170,-97.5169,84.88,87,0,8.28
20,20,Hasaki,JP,2022-07-07 07:34:36,35.7333,140.8333,79.29,85,0,15.93
21,21,Hilo,US,2022-07-07 07:36:10,19.7297,-155.0900,80.28,76,100,4.61
26,26,Butaritari,KI,2022-07-07 07:36:12,3.0707,172.7902,81.88,76,94,14.47
29,29,Paoua,CF,2022-07-07 07:36:13,7.2427,16.4406,76.77,77,100,2.68

In [29]:
# finding if any null values in our new data frame

preferred_cities_df.count()

City_ID       93
City          93
Country       93
Date          93
Lat           93
Lng           93
Max Temp      93
Humidity      93
Cloudiness    93
Wind Speed    93
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4      Solnechnyy      RU     85.48  50.7214  136.6319
5          Ndioum      SN     76.89  16.5129  -14.6471
8   Leshukonskoye      RU     76.51  64.8989   45.7622
10       Pochutla      MX     77.83  15.7432  -96.4661
18      Matamoros      MX     77.52  25.5333 -103.2500
19   San Patricio      US     84.88  28.0170  -97.5169
20         Hasaki      JP     79.29  35.7333  140.8333
21           Hilo      US     80.28  19.7297 -155.0900
26     Butaritari      KI     81.88   3.0707  172.7902
29          Paoua      CF     76.77   7.2427   16.4406

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    
    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError,IndentationError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng              Hotel Name
4      Solnechnyy      RU     85.48  50.7214  136.6319  Hotel complex Pastoral
5          Ndioum      SN     76.89  16.5129  -14.6471         l'hôtel samassa
8   Leshukonskoye      RU     76.51  64.8989   45.7622        Pryalitsa Hostel
10       Pochutla      MX     77.83  15.7432  -96.4661   Hotel Posada San Jose
18      Matamoros      MX     77.52  25.5333 -103.2500            Quinta Belem
19   San Patricio      US     84.88  28.0170  -97.5169      Motel 6 Sinton, TX
20         Hasaki      JP     79.29  35.7333  140.8333   Inubosaki Kanko Hotel
21           Hilo      US     80.28  19.7297 -155.0900     Hilo Hawaiian Hotel
26     Butaritari      KI     81.88   3.0707  172.7902      Isles Sunset Lodge
29          Paoua      CF     76.77   7.2427   16.4406    Quartier Paoua Elien

In [45]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))